.project-card {
    width: auto;
    /* border: 1px solid black; */
    /* box-shadow: 0px 0px 5px gray; */
    margin-bottom: 40px;
    border-radius: 16px;
    padding: 20px;
}

.project-card img {
    width: 365px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    height: 214px;
    /* padding: 10px; */
    /* border: 1px solid green; */
}

.project-card-text {
    padding: 10px;
    width: 365px;
    height: 251px;
    background-color: whitesmoke;
    color:black;
    border-radius: 0 0 15px 15px;
}

/* .project-card p h3 {
    background-color: whitesmoke;
} */

#card-description {
    font-weight: lighter;
    background-color: whitesmoke;

}

.card-heading-author {
    background-color: whitesmoke;
}

.box-line:hover {
    background-color: #F9A03F;
    border-radius: 30px 30px 0px 0px;
}